schema/common/xml/base/StringTypeArray.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:hros="http://hropenstandards.org/xml/" targetNamespace="http://hropenstandards.org/xml/" version="4.0.1" id="StringTypeArray" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StringTypeArray">
    <xs:annotation>
      <xs:documentation>Array of string data</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item">
        <xs:simpleType>
          <xs:restriction base="xs:string" />
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StringArray" type="hros:StringTypeArray" />
</xs:schema>