schema/common/xml/vcard/WebType.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:hros="http://hropenstandards.org/xml/" targetNamespace="http://hropenstandards.org/xml/" version="4.0.1" id="WebType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WebType">
    <xs:all>
      <xs:element minOccurs="1" maxOccurs="1" name="url">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>Actual web address</xs:documentation>
          </xs:annotation>
          <xs:restriction base="xs:anyURI" />
        </xs:simpleType>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:element name="Web" type="hros:WebType" />
</xs:schema>